
.containerForm {
    margin: 10% 10% 0 10%;
}

select:focus {
  outline: none;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    margin-bottom: 15px;
    width: 100%;
    font-family: "Lato", "sans-serif";
    font-weight: 200;
    font-size: 18px;
}

input:focus {
    outline: none;
}

a {
    color: #4b0505;
    font-size: 16px;
}

.titulo {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.subTitulo {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}


.btn-primary {
    background-color: #4b0505;
    border: none;
    font-family: "Lato", "sans-serif";
    font-weight: 700;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #4b0505;
}

#root {
    flex-direction: column;
    align-items: center;
}

.navbarTop {
    position: fixed;
    top: 0;          
    left: 0;        
    width: 100%;    
    z-index: 1000;  
}

/*Hero Section*/
.hero-frame {
    overflow: hidden; /*impede que a imagem vaze do quadro*/
    background: #f3f5f7; /*Aplicar cor ao fundo quando a imagem nao ocupa todo o espaço*/
}
 
.hero img, .hero {
    height: 70vh;
    object-fit: cover;
    object-position: top right;
}

@media (max-width: 576px) {
    .hero-frame {
        height: 50vh;
    }
}

.cardDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 3%;
}

.divDateSelector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 1%;
    height: 90px;
}

.js-check-in-input,
.js-check-out-input {
    width: 250px;
    height: 60px;
    margin-bottom: 0;
    font-size: 16px;
}

.js-guests-amount{
    height: 60px;
    font-size: 16px;
}

.buttonSearch {
    width: 140px;
    height: 60px;
    font-size: 16px;
}

.border-right {
  border-right: 1px solid #000;
}

.table-color{
    background-color: #4b0505;
    color: #ccc;
}

.grid {
    width: 70%;
}

.total {
    font-weight: 700;
}

.divCheckInWithMsgError {
    display: flex;
    flex-direction: column;
    gap: 1%;
}

.error-message {
    color: #cc0000; 
    font-size: 12px; 
    display: block;
    margin-top: 5px;
}

.input-error {
    border-bottom: 1px solid #cc0000 !important;
}

.cardLoungeDiv {
    display: flex;
    gap: 5%;
    align-items: flex-start;
}
