
.containerForm {
    margin: 10% 10% 0 10%;
}

select:focus {
  outline: none;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    margin-bottom: 15px;
    width: 100%;
    font-family: "Lato", "sans-serif";
    font-weight: 200;
    font-size: 18px;
}

input:focus {
    outline: none;
}

a {
    color: #4b0505;
    font-size: 16px;
}

.titulo {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.subTitulo {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}


.btn-primary {
    background-color: #4b0505;
    border: none;
    font-family: "Lato", "sans-serif";
    font-weight: 700;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #4b0505;
}

#root {
    flex-direction: column;
    margin-bottom: 5%;
}

.navbarTop {
    position: fixed;
    top: 0;          
    left: 0;        
    width: 100%;    
    z-index: 1000;  
}

/*Hero Section*/
.hero-frame {
    overflow: hidden; /*impede que a imagem vaze do quadro*/
    background: #f3f5f7; /*Aplicar cor ao fundo quando a imagem nao ocupa todo o espaço*/
}
 
.hero img, .hero {
    height: 70vh;
    object-fit: cover;
    object-position: top right;
}

@media (max-width: 576px) {
    .hero-frame {
        height: 50vh;
    }
}

.cardDiv {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 70px;
}

.divDateSelector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
    height: 70px;
}

.inputDate {
    width: 250px;
    height: 70px;
    margin-bottom: 0;
}

.buttonSearch {
    width: 140px;
    height: 70px;
    font-size: 16px;
}